.input {
  width: 100%;
  box-sizing: border-box;
  padding: 0.4em;
  font-family: inherit;
  font-size: inherit;
  background-color: transparent;
  border: 1px solid var(--secondary-font-dimmed-color);
  /* color: inherit; */
  color: var(--base-font-color);
  height: 81%;
  align-self: center;
}

.input::placeholder {
  color: var(--secondary-font-color);
  opacity: 1; /* Firefox */
  font-family: inherit;
  font-size: inherit;
}

.input:focus {
  outline: none;
  border: 1px solid var(--secondary-font-color);
  /* outline: var(--primary-active-font-color) auto 5px; */
}

.borderRadiusLeft {
  border-bottom-left-radius: 0.2em;
  border-top-left-radius: 0.2em;
}

.borderRadiusRight {
  border-bottom-right-radius: 0.2em;
  border-top-right-radius: 0.2em;
}
.divIcon {
  color: #555;
  text-align: center;
  background-color: var(--tertiary-background-color);
  /* border: 0.1em solid #d6d6d6; */
  height: 80%;
  align-self: center;
  /* aspect-ratio: 1 / 1; */
  width: 20%;
  height: 80%;
  display: inline-grid;
  align-items: center;
  justify-items: center;
}

.divIcon > * {
  height: 90%;
  width: 90%;
}

.pointer {
  cursor: pointer;
}

.div {
  display: inline-flex;
  height: 100%;
  align-self: center;
  padding: 0.2em;
}
