.input {
  width: 100%;
  box-sizing: border-box;
  border-radius: 5%;
  padding: 0.4em;
  font-family: inherit;
  font-size: inherit;
  background-color: transparent;
  border: 1px solid var(--secondary-font-dimmed-color);
  /* color: inherit; */
  color: var(--base-font-color);
  height: 81%;
  align-self: center;
}

.input::placeholder {
  color: var(--secondary-font-color);
  opacity: 1; /* Firefox */
  font-family: inherit;
  font-size: inherit;
}

.input:focus {
  outline: none;
  border: 1px solid var(--secondary-font-color);
  /* outline: var(--primary-active-font-color) auto 5px; */
}

.spanIcon {
  color: #555;
  text-align: center;
  background-color: var(--tertiary-background-color);
  /* border: 0.1em solid #d6d6d6; */
  border-radius: 5%;
  height: 80%;
  align-self: center;
  aspect-ratio: 1 / 1;
}

.pointer {
  cursor: pointer;
}

.arrow {
  font-size: 1.5em;
}

.div {
  display: inline-flex;
  height: 100%;
  align-self: center;
  width: 25%;
  padding: 0.2em;
}

/* .div2{
  position: relative;
  display: table;
  border-collapse: separate;
  align-self: center;
}

.input2{
  display: table-cell;
  position: relative;
  z-index: 2;
  float: left;
  width: 100%;
  border: 1px solid #d6d6d6;
  box-sizing: border-box;
  border-radius: 3px;
  padding: 0.4em;
  font-family: inherit;
  font-size: inherit;
  background-color: transparent;
  border: 1px solid var(--secondary-font-dimmed-color);
  color: var(--base-font-color);
  height: 2em;
}

.spanIcon2 {
  display: table-cell;
  vertical-align: middle;
  height: 2em;
  width: 2em;
} */
