.infoMonserratFontContainer {
  display: flex;
  justify-content: space-around;
}

.infoMonserratFont {
  flex-wrap: wrap;
  font-family: 'Montserrat', sans-serif;
  margin: 0em;
  font-weight: 300;
  font-size: 20px;
}

.dBLiveValue {
  color: #f0e400;
  font-family: 'Montserrat', sans-serif;
  font-weight: 300;
  font-size: 20px;
}

.monserratFontTitle {
  display: flex;
  font-family: 'Montserrat', sans-serif;
  font-weight: 900;
  font-size: 25px;
}

.inputMonserratFont {
  display: flex;
  width: 400px;
  font-family: 'Montserrat', sans-serif;
  font-weight: 300;
  font-size: 15px;
}

.inputdBLimit {
  display: flex;
  font-family: 'Montserrat', sans-serif;
  font-weight: 300;
  font-size: 20px;
}
.hideInputDiv {
  width: 20%;
  height: 20%;
}

.hideInput {
  display: none;
}

.svgEdit {
  fill: none;
  stroke: #8c9da6;
  stroke-linecap: round;
  stroke-linejoin: round;
  stroke-width: 0.3px;
}

.buttondBLimit {
  display: flex;
}

.editButtondBLimit {
  width: 0.7rem;
  height: 1.2rem;
}

.divVegaLite {
  display: grid;
  justify-content: center;
}
