.infoMonserratFontContainer0 {
  flex-wrap: wrap-reverse;
}

.infoMonserratFontContainer1 {
  display: flex;
  justify-content: space-around;
}

.infoMonserratFont1 {
  flex-wrap: wrap-reverse;
  font-family: 'Montserrat', sans-serif;
}

.infoMonserratFont2 {
  flex-wrap: wrap-reverse;
  font-family: 'Montserrat', sans-serif;
  width: 20%;
}

.dBLiveValue {
  color: #f0e400;
  font-family: 'Montserrat', sans-serif;
}

.monserratFontTitle {
  display: flex;
  font-weight: bold;
  color: var(--base-font-color);
  margin: 0.5em;
  font-family: 'Montserrat', sans-serif;
}

.inputMonserratFont {
  display: flex;
  font-family: 'Montserrat', sans-serif;
}

.inputdBLimit {
  display: flex;
  font-family: 'Montserrat', sans-serif;
}
.hideInputDiv {
  width: 20%;
  height: 20%;
}

.hideInput {
  display: none;
}

.svgEdit {
  fill: none;
  stroke: #8c9da6;
  stroke-linecap: round;
  stroke-linejoin: round;
  stroke-width: 0.3px;
}

.buttondBLimit {
  display: flex;
  flex-wrap: nowrap;
}

.editButtondBLimit {
  width: 0.1rem;
  height: 1rem;
  transform: translate(30%, 0%);
}

.divVegaLite {
  display: grid;
  justify-content: center;
  transform: translate(5%);
}
.editButtonShowHeatMap {
  transform: translate(7%, 0%);
}

.svgButton {
  position: relative;
}
