.container {
  background-color: #292a38;
  border-radius: 8px;
  padding: 20px;

  /* position: fixed; */
  top: 50%;
  left: 50%;
  /* transform: translate(-50%, -50%); */

  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;

  height: 75px;
}

/* span {
  font-size: 20px;
  font-weight: bold;
  color: #ffffff;
} */

.volumenWrapper {
  /* display: flex; */
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}

.led {
  width: 40px;
  height: 25px;
  background-color: #292a38;
  border-radius: 4px;

  box-shadow: -2px -2px 4px 0px #a7a7a73d inset, 2px 2px 4px 0px #0a0a0e5e inset;
  margin: 0 5px;
}

.audioControl {
  cursor: pointer;
  color: #fff;

  box-shadow: -2px -2px 4px 0px #a7a7a73d, 2px 2px 4px 0px #0a0a0e5e;
  padding: 8px;

  font-size: 25px;
  border-radius: 50%;
}

/* .mics{
  flex-basis: 100%;
  border-radius: 20px;
  display: flex;
  margin: 10px;
} */

.micX {
  padding: 20px;
}

.component {
  grid-area: body;
  display: flex;
}

/* .collapsableScriptList {
  flex-basis: 100%;
  position: relative;
  transition: all 300ms ease-in-out;
  margin: 10px;
}

.collapsedScriptList {
  flex-basis: 50px;
  flex-shrink: 0;
  overflow: hidden;
}

.collapsedScriptList .collapsableScriptListContent {
  left: 50px; 
}*/

/*No Tocar*/
.collapseScriptListButton {
  font-size: 2.5em;
  align-self: center;
  cursor: pointer;
}

/* .collapsedScriptList .collapsedScriptListLabelWrapper {
  opacity: 1;
}

.finishedScriptList {
  overflow-y: hidden;
  display: flex;
  align-items: stretch;
} */

/*No Tocar*/
.listTitleWrapper {
  display: flex;
  padding: 0.5em;
}

/* .scriptList {
  display: grid;
  grid-template-rows: min-content 1fr;
  margin: 0 0.5em;
  text-align: left;
  flex-grow: 1;
  flex-basis: 100%;
  transition: all 500ms ease-in-out;
  background: var(--second-primary-background-color);
  height: 100%;
}

.collapsableScriptListContent {
  display: grid;
  grid-template-rows: min-content 1fr;
  position: absolute;
  left: 0px;
  width: 100%;
  height: 100%;
  transition: left 300ms ease-in-out;
  background: var(--second-primary-background-color);
  justify-items: center;
}

.collapsedScriptListLabelWrapper {
  position: absolute;
  display: flex;
  height: 100%;
  background: var(--second-secondary-background-color);
  cursor: pointer;
  opacity: 1;
  z-index: 0;
} */

.records {
  justify-items: center;
}

table {
  width: 100%;
  background-color: var(--tertiary-background-color);
  border-radius: 4px;
  color: var(--base-font-color);
  padding: 7px;
  border-spacing: 0px 2px;
}

.headTable {
  margin-top: 10px;
  margin-bottom: 10px;
  background-color: var(--tertiary-background-color);
}

th {
  /* height: 4em; */
  background-color: var(--tertiary-background-color);
}

tr {
  /* margin: 10px; */
  background-color: var(--second-primary-background-color);
  border-radius: 4px;
}

.divDetails {
  background-color: var(--tertiary-background-color);
  border-radius: 15px;
}
/* .tr .trLeft .trRight{
  margin-top: 1px;
  margin-bottom: 1px;
  background-color: var(--base-background-color);
}
.trLeft{
  margin-left: 3px;
}

.trRight{
  margin-right: 3px;
} */

.micDetails {
  width: 30%;
  overflow-x: hidden;
  transition: 0.4s;
  margin: 2px;
}

.mics {
  width: 100%;
  /* border-radius: 20px; */
  transition: 0.4s;
  margin: 2px;
}

.collapsedMicDetail {
  width: 0px;
  overflow-x: hidden;
  transition: 0.4s;
}

.component {
  display: flex;
}

.container {
  max-width: 100%;
}

.locationMic {
  display: table-header-group;
  font-size: 17px;
  font-family: Sans-Serif;
  font-weight: normal;
}

.headers {
  vertical-align: sub;
  font-family: Montserrat;
  font-size: small;
}

td {
  border: 2px solid var(--base-background-color);
  /* border-radius: 3px; */
}

.idMic {
  display: table-cell;
  font-family: Montserrat;
  font-weight: normal;
}
