.container {
  background-color: #292a38;
  border-radius: 8px;
  padding: 20px;

  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);

  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;

  height: 150px;
}

.volumenWrapper {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}

.led {
  width: 40px;
  height: 25px;
  background-color: #292a38;
  border-radius: 4px;

  box-shadow: -2px -2px 4px 0px #a7a7a73d inset, 2px 2px 4px 0px #0a0a0e5e inset;
  margin: 0 5px;
}

.audioControl {
  cursor: pointer;
  color: #fff;

  box-shadow: -2px -2px 4px 0px #a7a7a73d, 2px 2px 4px 0px #0a0a0e5e;
  padding: 8px;

  font-size: 25px;
  border-radius: 50%;
}

.alarmContainer {
  width: 700px;
}
.infoMonserratFontContainer {
  display: flex;
  justify-content: space-around;
}

.infoMonserratFont {
  flex-wrap: wrap;
  font-family: 'Montserrat', sans-serif;
  margin: 0em;
  font-weight: 300;
  font-size: 20px;
}

.dBLiveValue {
  color: #f0e400;
  font-family: 'Montserrat', sans-serif;
  font-weight: 300;
  font-size: 20px;
}

.monserratFontTitle {
  display: flex;
  font-family: 'Montserrat', sans-serif;
  font-weight: 900;
  font-size: 25px;
}

.inputMonserratFont {
  display: flex;
  width: 400px;
  font-family: 'Montserrat', sans-serif;
  font-weight: 300;
  font-size: 15px;
}

.inputdBLimit {
  display: flex;
  font-family: 'Montserrat', sans-serif;
  font-weight: 300;
  font-size: 20px;
}

.hideInputDiv {
  width: 20%;
  height: 20%;
}

.hideInput {
  display: none;
}

.svgEdit {
  fill: none;
  stroke: #8c9da6;
  stroke-linecap: round;
  stroke-linejoin: round;
  stroke-width: 0.3px;
}

.buttondBLimit {
  display: flex;
}

.editButtondBLimit {
  width: 0.7rem;
  height: 1.2rem;
}
