.container {
  display: flex;
  /* flex-flow: row wrap; */
  height: fit-content;
  justify-content: center;
}

.Div {
  background-color: var(--secondary-background-color);
  color: var(--primary-font-color);
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 100%;
}
.Svg {
  border: 1px solid rgb(255, 255, 255);
}

.pointing {
  background-color: aliceblue;
}

.summaryTable {
  align-self: center;
}

td.statusColumn {
  min-width: 8em;
  text-align: center;
}

.divLastUp {
  text-align: left;
  font-size: 80%;
}

.mapDiv {
  align-self: center;
  width: 100%;
  height: 425px;
}

.CoquimboSvg path {
  opacity: 0.5;
  border-radius: 50%;
  fill: #6f6f6f;
  fill-opacity: 1;
  fill-rule: evenodd;
  stroke: #ffffff;
  stroke-width: 1;
  stroke-linecap: butt;
  stroke-linejoin: miter;
  stroke-miterlimit: 4;
  stroke-dasharray: none;
  stroke-opacity: 1;
}

.rect {
  fill: var(--secondary-background-dimmed-color);
}
.circle {
  background-color: '#2E3E47';
}

.laSerena {
  fill: #788f9b;
}

.tooltip {
  visibility: hidden;
  position: absolute;
}

.pathPlane {
  transform-box: 'fill-box';
}

.statusDiv {
  display: flex;
  width: 75%;
}

.statusDivElement {
  display: flex;
  width: 50%;
  margin-right: 5%;
}

.statusElement {
  width: 50%;
  height: 100%;
}

.divElement {
  width: 100%;
  margin-top: 15px;
}

.zoomDiv {
  display: flex;
  width: 7.5%;
}

.zoom {
  box-shadow: 0.5% 1% 2px 1px rgba(100, 112, 115, 0.444);
  touch-action: manipulation;
  cursor: pointer;
}

/* DEFAULT */
/* .zoom,
.zoom.disabled,
.zoom.disabled:hover {
  background-image: none;
  background-color: var(--default-background-color);
  color: var(--default-font-color);
  border: 20px;
}
.zoom:hover,
.zoom:active:hover {
  background-image: none;
  background-color: var(--default-active-background-color);
  color: var(--default-active-font-color);
  border: 2;
}
.zoom.active {
  background-image: none;
  background-color: var(--default-active-background-color);
  color: var(--default-active-font-color);
  border: 2;
}
.zoom.active:hover {
  background-image: none;
  background-color: var(--default-active-hover-background-color);
  color: var(--default-active-font-color);
  border: 2;
} */

.iconBtn {
  display: inline;
  border-radius: 15%;
  padding: 0.3em;
  height: 4em;
  width: 4em;
}
